$md-primary-color: #178230;
$md-primary-color-hue-1: #1c9e3a;
$md-secondary-color: #173082;
$md-secondary-color-hue-1: #1c3a9e;
$md-secondary-color-base: #1c3a9e;

@import "~react-md/src/scss/react-md.scss";

html, body {
    margin: 0;
    padding: 0;
}

.footer {
    margin: 2em auto 0;
    text-align: center;
    color: #999;
    a {
        color: #999;
        padding: 0 1em;
    }
}

.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.search {
    text-align: center;
    padding: 32px 4px;
    
    .md-text-field-container {
        input.md-text-field:not(.multi-line) {
            height: 42px;
            padding-top: 25px;
            padding-bottom: 12px;
        }
    }
}

.md-headline, .md-title {
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Don't squish avatars */
.md-avatar {
    flex-shrink: 0;
    flex-grow: 0;
}

.doc_view {
    width: 892px;
    margin: 0 0;
    transition: margin 0.5s ease;
}
/* Align doc to center if screen wider than doc + 2 * sidebar */
@media screen and (min-width: 1400px) {
    .doc_view {
        margin: 0 auto;
        transition: margin 0.5s ease;
    }
}

.md-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.md-card-actions > .action-area > * {
    margin-left: 1em;
}

.md-toolbar {
    justify-content: space-between;
    align-items: flex-start;
    .md-icon {
        line-height: 48px;
        color: white;
    }
    .md-title {
        flex-grow: 1;
        line-height: 50px;
    }
    .md-btn {
        line-height: 40px;
    }
}

.front-page {
    .md-card-title {
        justify-content: center;
    }
    .md-headline {
        height: auto;
    }
    .md-card-text {
        padding-top: 0;
    }
    .md-tile-primary-text {
        font-weight: bold;
        color: #333;
    }
}

.annotate-bar {
    .md-toolbar {
        .md-title {
            line-height: 64px;
            padding-left: 16px;
        }
    }
    .md-list {
        padding: 0 !important;
        .md-list-tile {
            padding: 0 !important;
        }
        .type-category .md-tile-primary-text {
            font-size: 15px;
            padding-left: 12px;
        }
        .md-list-item {
            .md-tile-secondary-text {
                color: #666;
            }
        }
    }
    .md-tile-content.icon-offset {
        margin-left: 0;
    }
    .md-chip {
        max-width: 172px;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .md-text-field-label {
        margin-top: -8px;
    }
    /* For LoginPrompt: */
    ol {
        padding-left: 2em;
    }
    ol li::marker {
        font-weight: bold;
        color: #ccc;
    }
    ol li {
        font-weight: normal;
        color: #333;
    }
}
.md-chip-container {
    .md-icon.material-icons {
        font-size: 32px;
    }
    .md-chip {
        padding: 8px 2px;
    }
    .md-chip-remove {
        margin: 0 8px 0 0;
    }
}

.md-avatar-paper-V .md-avatar-content {
    background-color: #707;
}
.md-avatar-paper-A .md-avatar-content {
    background-color: #33c;
}
.md-avatar-paper-m .md-avatar-content {
    background-color: #373;
}

.paper-view {
    .md-card-title .titles {
        max-width: 100%;
    }
    .addrs {
        h4 {
            margin: 0;
        }
        p {
            margin: 0;
        }
        img {
            margin: 2px;
        }
    }
}
